
/* ---------- LOGIN ---------- */

html{
  scroll-behavior: smooth;
}

.body-wrapper{
  min-height: calc( 100vh - 109px - 3rem ) !important;
}

.login-outer-container{
  background: #0264d6; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: table;
  height: calc(100vh);
  width: 100%;
}

.login-middle-container {
  display: table-cell;
  vertical-align: middle;
}

.login-inner-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 600px;
}

.login-form-footer a {
	color: #eee;
	text-decoration: none;
}

.login-form-footer a:hover {
  text-decoration: none;
  color: #d44179;
}

.login-clearfix input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

.login-clearfix p {
	line-height: 1.5em;
}

.login-clearfix {
  *zoom: 1;
}

.login-clearfix:before,
.login-clearfix:after {
  content: ' ';
  display: table;
}

.login-clearfix:after {
  clear: both;
}

#login-form{
  border-right:1px solid #fff;   
}

#login-form, .logo-login{
  width: 50%;
  padding: 0px 22px;
}

#login-form form span.fas {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
  font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login-form form input {
	height: 50px;
}

#login-form form input[type="email"],#login-form form input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login-form form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login-form form input[type="submit"]:hover {
	background-color: #d44179;
}

#login-form > p {
	text-align: center;
}

#login-form > p span {
	padding-left: 5px;
}


.login-form-footer span{
  display: inline-block;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

.login-form-footer .pass-reset-link{
  width:50%;
  text-align: left;
}

.login-form-footer .signin-button{
  width:48%;
  text-align: right;
}


/* ---------- Landing Navbar ---------- */

.navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.landing-nav .nav-item a{
  color: #fff !important;
}

.landing-nav .nav-item a:hover{
  text-decoration: underline;
}


/*--------Landing Page--------*/
.landing-container{
  margin:0px;
  padding: 0px;
}

.landing-container .carousel{
  border-bottom: 1px solid lightgray;
}


.carousel-indicators li{
  background-color: rgba(0, 0, 0, 0.349);
}

.landing-container .carousel-item img {
  height:calc(100vh - 71.2px);
  width:100%;
}

.landing-container .lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.landing-container .services-icon {
  margin-bottom: 20px;
  font-size: 60px;
  color: #112D32;
}

.team-heading{
  background-color:  #88BDBC;
}

.team-card{
  margin-bottom: .75rem;
}

/*landing footer*/
.landing-footer {
  bottom: 0;
  color: #fff;
  font-weight: 300;
  font-family: "Roboto",sans-serif;
}

.indigo {
  background-color: #254E58 !important;
}

.font-small {
  font-size: .9rem;
}

.landing-footer a {
  color: #fff;
}

.landing-footer .rgba-white-light, .landing-footer .rgba-white-light:after {
  background-color: rgba(255,255,255,0.3);
}

.landing-footer .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.landing-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}


/* Messaging */

.messaging img{ 
  max-width:100%;
  border-radius: 50%;
  max-height:45px;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.inbox_chat .nav-link.active .chat_list{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 1%;
  top: 8px;
  width: 33px;
}
.messaging { 
  padding: 20px 0;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

 /* Navbar home (use for all)*/

 .dropdown-toggle::after {
  content: none;
  display: none;
}

/*Navbar home notification menu*/

#notification-dropdown span{
  font-size:9px;
  position:absolute;
  top:0;
  left:14px;
  background:red;
  width:15px;
  height:15px;
  border-radius:50%;
  text-align:center;
  color:#fff;
  padding:1px 0;
}

.dropdown-notification:hover{
  color: #1d1e1f;
  text-decoration: none;
  background-color: lightgrey;
}

.dropdown-notification:hover .notification-read {
  color: #34495E;
}

.dropdown-notification-all {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3490dc;
  color: white;
}

.dropdown-notification-all:hover {
  background-color: #4e9bda;
  color: white;
}

.notifications-container {
  max-height: 300px;
  overflow: auto;
}

.notification-dropdown-menu {
  padding-bottom: 0;
  min-width: 428px;
  max-width: 500px;
}

.notification-img {
  display: inline-block;
  vertical-align: top;
}

.notifications-body {
  display: inline-block;
}

.notification-text{
  text-align: left;
  margin: 0;
}

.notification-read {
  margin: 0;
  vertical-align: top;
  color: white;
  float: right;
}

.notification-date {
  text-align: left;
  color: #2980b9 !important;
  margin: 0;
}

.notification-solo {
  margin-top: 1rem;
}

#info-message-page{
  text-align: center;
  margin: 0px;
}

/* patient Home carousel */

.patient-home .main-text
{
    position: absolute;
    top: 150px;
    width: 96.66666666666666%;
    color: #FFF;
    z-index:100;
}
.patient-home .btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.patient-home .btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.patient-home .btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.patient-home .carousel-item img{
  height: 100vh;
  width : 100%;
}

/* career Page */

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 46, 102, 0.8);
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.main-career-container .btn-secondary {
  background-color: #cd9557;
  border-color: #cd9557;
}

.main-career-container .btn-secondary:active,
.main-career-container .btn-secondary:focus,
.main-career-container .btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}

.main-career-container{
  background: url("../images/career-bg.jpg") no-repeat center center scroll;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.main-career-container h1,
.main-career-container h2,
.main-career-container h3,
.main-career-container h4,
.main-career-container h5,
.main-career-container h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

/* Patient Profiles */

#edit-button {
  background-color : #254e5883;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#edit-button-div {
  position: fixed;
  bottom: 50%;
  left: 10px;
  z-index: 1000;
}

.patient-content-wrapper .page-content {
  background-color: #eaeef3;
}

.patient-content-wrapper .page-title {
  padding: 40px 0 30px 0;
  font-size: 28px;
  letter-spacing: -1px;
  margin: 0;
  color: #666;
  font-weight: 600;
}

.patient-content-wrapper .white-box {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 15px;
}

.patient-content-wrapper .patient-profile {
  height: 100%;
  width: 100%; 
}

.patient-content-wrapper .cardbox {
  background: #fff;
  min-height: 50px;
  position: relative;
  margin-bottom: 20px;
  transition: .5s;
  border: 1px solid #f2f2f2;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.patient-content-wrapper .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.patient-content-wrapper .cardbox .header {
  color: #555;
  padding: 0 0 10px 0;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  box-shadow: none;
  margin-bottom: 0;
  margin: 15px;
  border-radius: 4px;
  padding: 15px 0;
  background-color: #fff;
}

.patient-content-wrapper .cardbox .body {
  font-size: 15px;
  padding: 15px;
  font-weight: 400;
}

.patient-content-wrapper .card-head {
  border-radius: 2px 2px 0 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-transform: uppercase;
  color: #3a405b;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  min-height: 40px;
}

.patient-content-wrapper .card-head header {
  padding: 15px 24px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 16px;
}

.patient-content-wrapper .card {
  position: relative;
  margin-bottom: 24px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.patient-content-wrapper .card-topline-purple {
  border-top: 3px solid #ad5bff;
}

.patient-content-wrapper .card-body:last-child {
  border-radius: 0 0 2px 2px;
}

.patient-content-wrapper .card-body {
  padding: 10px 24px 24px 24px;
  position: relative;
}

.patient-content-wrapper .user-btm-box {
  padding: 40px 0 10px;
  clear: both;
  overflow: hidden;
}

.patient-content-wrapper p {
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}

.patient-content-wrapper .parent-item:hover {
  color: #1EBDCC !important;
}

.patient-content-wrapper .progress {
  border: 0;
  background-image: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 8px;
  border-radius: 0!important;
  margin: 0;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
}

.patient-content-wrapper .progress-bar-danger {
  background-color: #d9534f;
}

.patient-content-wrapper .progress-bar-warning {
  background-color: #f0ad4e;
}

.patient-content-wrapper .progress-bar-success {
  background-color: #36c6d3;
}

.pull-right {
  float: right!important;
}

.font-bold {
  font-weight: bold;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table th, .card .table td, .card .table th, .card .dataTable td, .card .dataTable th {
  padding: 15px 8px;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.patient-content-wrapper h4,.patient-content-wrapper h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.patient-content-wrapper h5{
  font-size: 14px !important;
}

.patient-content-wrapper h4{
  font-size: 18px !important;
}

/*edit Profile Modal*/
#edit-profile-modal .modal-body,
#add-patient-history-modal .modal-body{
  padding:20px 30px !important;
}

#edit-profile-modal .modal-title,
#add-patient-history-modal .modal-title{
  width:100%;
  text-align: center !important;
  color: #01345B;
  font-weight: 700;
}

#edit-profile-modal .modal-form-field-title,
#add-patient-history-modal .modal-form-field-title{
  margin-bottom: 10px !important;
  color: #01345B;
  font-weight: 700;
  font-size: 13px;
  text-align: left !important;
}

#edit-profile-modal .modal-form-field-guide,
#add-patient-history-modal .modal-form-field-guide{
  color:grey;
}  

#edit-profile-modal .modal-body input,
#edit-profile-modal .modal-body textarea,
#add-patient-history-modal .modal-body input,
#add-patient-history-modal .modal-body textarea{
    border: 2px solid #3D7DA7;
    border-radius: 4px;
}


/* Model Page */

.model-main-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 100vh;
  background: url("/static/images/model-page-img.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}

.model-form-wrapper{
  padding: 25px 25px;
  background-color: rgba(0, 0, 0, 0.37);
}

.model-result-wrapper{
  padding: 25px 25px;
  background-color: rgba(22, 113, 233, 0.432);
  margin-top: 20px;
}

.model-form-wrapper,.model-result-wrapper{
  max-width: 450px;
}

.model-result-paragraph{
  color:white;
  text-align: center;
}

.model-result-paragraph span{
  color: rgb(236, 10, 10);
  font-weight: bold;
  font-size: large;
}

.model-form-label{
color:white;
text-align: center;
}

/*  post proposals */

.pr-content-wrapper .card-body .paraCollapse{
  text-align: justify;
 }

.pr-content-wrapper .card-body .paraCollapse.collapse:not(.show){
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  max-height: 72px;
  height:auto;
  }
  .pr-content-wrapper .card-body .paraCollapse.show{
    margin-bottom:0;
  }
  .pr-content-wrapper .card-body .paraCollapse.collapsing{
    margin-bottom:0;
    min-height: 72px;
  }

.pr-content-wrapper .card-body a.collapsed::after {
  content: '... Show More';
}


.pr-content-wrapper .card-body a:not(.collapsed)::after {
  content: 'Show Less';
}

/* Doctor Home */

.doc-home-wrapper{
  width:100%;
  height:100vh;
  background-color:rgba(5, 73, 119, 0.815);
  padding:30px 0;
  box-sizing: border-box;
}

.intro{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}
.doc-address{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.landing-card-title{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* profile picture */
.change_pic_icon{
  background-color: #E4E6EB;
  position: absolute;
  right: 16%;
  bottom: 14px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
}

#profile-pic-upload{
  opacity: 0;
}

#profile-pic-upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.pi-upload-display {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.pi-upload-display::before {
  content: 'No image selected.';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.pi-upload-display img{
  z-index: 2;
  position: relative;
}